body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("../static/img/VVVV.png") no-repeat center center fixed;
    background-size: cover;
    color: #ececec;
}

h1 {
    text-align: center;
    margin-bottom: 08px;
    width: 100%;
    color: #9c9a9a; /* Para manter o contraste com o fundo */
}

.top-center-image {
    align-items: top;
    align-content: center;
    border-radius: 25px;
    overflow: hidden;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    /* background: url("../static/img/VVVV.png") no-repeat center center fixed;
    background-size: cover;
    */


}

.main-square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: #00000067; /* Cinza mais escuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    /* background: url("../static/img/VVVV.png") no-repeat center center fixed;
    background-size: cover;
    */
}

/* Main Square Routines Styles */ 
.main-square-routines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    height: 300px;
    background-color: #1f182a; /* Cinza mais escuro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px; 
    margin-bottom: 5px;
}

.main-square-routines input {
    background-color: #1a1a1a00;
    border-radius: 05px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 20px;
    font-size: 15px;
}

.main-square-routines textarea{
    display: flex;
    background-color: #1a1a1a00;
    border-radius: 05px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 80px;
    font-size: 15px;}

.import-data-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 20px;
    background-color: none;
    border-radius: none;
    padding: 20px;
}

.main-routine-label {
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
    font-size: 20px;
}

/* Main Buttons Styles */ 
.main-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #2d195b; /* Azul escuro */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #36008c;
}

/* Routine Buttons Styles */ 
/* --Import data button styles*/ 
.import-data-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #479058;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.import-data-button:hover {
    background-color: #21863c ;  
}

/* --Process data button styles */
.process-data-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #479058;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.process-data-button:hover {
    background-color: #21863c ;  
}

/* --Integrate data to gpt button styles */
.integrate-data-gpt-button {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    background-color: #479058;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.integrate-data-gpt-button:hover {
    background-color: #21863c ;  
}


