<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title> Virtu Analytics</title>
</head>
<body>
    <h1>Virtu Analytics</h1>
    <br>
    <div class="main-square">
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.routines_page') }}'">Rotinas</button>
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.exportation_page') }}'">Exportação de Dados</button>
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.chatwithgpt_page') }}'">ChatWithGPT</button>
    </div>
</body>
</html>
