<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Rotinas</title>
</head>
<body>
    <h1>Rotinas de Dados</h1>

    <div class="main-square-routines">
        <label>Importação de dados da Lettel:</label>
        <div class="import-data-button-container">
            <button class="import-data-button" onclick="location.href='{{ url_for('main_routes.import_data_route') }}'">Executar</button>
        </div>
    </div>
    
    <div class="main-square-routines">
        <label>Processar dados importados da Lettel</label>
        <div class="routine-button-container">
            <button class="main-button" onclick="location.href='{{ url_for('main_routes.process_data_route') }}'">Executar</button>
        </div>
    </div>
    
    <div class="main-square-routines">
        <label>Integrar dados com o ChatGPT</label>
        <div class="routine-button-container">
            <button class="main-button" onclick="location.href='{{ url_for('main_routes.send_data_gpt_route') }}'">Executar</button>
        </div>
    </div>
    
</body>
</html>
