<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Rotinas</title>
</head>
<body>
    <h1>Rotinas de Dados</h1>

    <div class="main-square">
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.import_data_route') }}'">Importar dados da Lettel</button>
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.process_data_route') }}'">Processar dados importados da Lettel</button>
        <button class="main-button" onclick="location.href='{{ url_for('main_routes.send_data_gpt_route') }}'">Integrar dados com o ChatGPT</button>
    </div>
</body>
</html>
